// Variables
//layout height
$header-height: 4.5rem;
$footer-height: 235px;
$header-height-pc: 60px;
$footer-height-pc: 155px;

//footer margin
$footer-mb2: 2rem;
$footer-mb4: 4rem;

//z-index
$header-index: 3;
$modal-index: 3;

//background,font color
$white-color: #fff !default;
$black-color: #000 !default;
$dark-color: #292929 !default;
$darkgray-color: #545454 !default;
$gray-color: #b3b3b3 !default;
$lightgray-color: #c9c9c9 !default;
$red-color: #e50914 !default;
$blue-color: #399aed !default;
$cate-amway-color : #6D85D5 !default;
$cate-brand-color : #E8875C !default;
$cate-library-color : #37AC88 !default;


//구성요소 변수모음
$radius: 5px !default;


$breakpoints: (
	//xs: 480px,
	//sm: 576px,
	md: 768px,
	lg: 1000px,
	xl: 1320px
);

$max-breakpoints: (
	//xs: 479px,
	//sm: 575px,
	//md: 767px,
	//lg: 1000px,
	//xl: 1400px,
	//xxl: 1599px
);
