
// @mixin btn-login {
//   width:100%;
//   width:92%;
//   left: 50%;
//   transform: translateX( -50% );
//   margin:0 auto;
//   position:fixed;
//   bottom:2rem;
// }

@mixin btn-bottom {
  width:100%; 
  margin:4rem 0 2rem 0;
  position:relative;
}

// @mixin caution{
//   padding-left:3rem;
//   min-height:2rem;
//   font-size:1.4rem;
//   line-height:1.5;
//   background: url("../images/common/icon_caution_login.svg") no-repeat center left / 2rem;
// }

@mixin btn-small-type1{
  display:inline-block;
  background-color:$white-color;
  color:$black-color;
  padding:0.5rem 1rem 0.2rem 1rem;
  border-radius:15px;
  width:auto;
  height:auto;
}


@mixin select-box {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  display: block;
  width: 100%;
  height: 4rem;
  padding: 1.2rem 3rem 0.8rem 1rem;
  background: $dark-color url("../images/common/filter_selectfull_btn.png") no-repeat calc(100% - 1rem) 50%  / 1rem;
  color: $white-color;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  border-radius: 2px;
  border:none;
}


@mixin select-position{
  position:absolute; 
  width: calc(100% - 2rem);
  bottom:20px;
}