//== 로그인화면
.auth {

    margin:0 2rem;
    .header{
        display:none;
    }
    .wrap-login{

        .logo-small{
            height:4.5rem;
            background: url("../images/common/logo_white.png") no-repeat left center / 7.7rem;
        }
        .logo{
            height:4.5rem;
            padding:4rem;
            background: url("../images/common/logo_amway.png") no-repeat center center / 11.3rem;
        }
        .wrap-input{
            input{
                height:4rem;
                color:$black-color;
                border-radius:2px;
            }
            input + input{
                margin-top:1rem;
            }
        }
        .wrap-checkbox{
            padding: 1rem 0 2rem 0;
            span{
                color: $gray-color;
            }
            label + label{
                margin-left:2rem;
            }
        }

        .other-auth-link{
            ul{
                margin:1.5rem 0 7rem 0;
                text-align:center;
                li{
                    display:inline;
                    position:relative;
                    & ::after{
                        content:'';
                        position:absolute;
                        background-color: $gray-color;
                        top:0.3rem;
                        right:-1.4rem;
                        width:1px;
                        height:12px;
                    }
                    &:last-child{
                        & ::after{
                            background-color:transparent;
                        }
                    }
                }
                li + li{
                    margin-left:2.5rem;
                }
            }
            a{
                color: $gray-color;
                width:auto;
                height:auto;
                padding:0;
            }
        }
    }

    .wrap-caution{
        p{
            padding-left:3rem;
            min-height:2rem;
            font-size:1.4rem;
            line-height:1.5;
            background: url("../images/common/icon_caution_login.svg") no-repeat center left / 2rem;
        }
    }

}

.select-user{

        .wrap-select-user{
            h2, p{
                text-align:center;
            }
            h2{
                margin:2rem 0 1rem 0;
            }
            p{
                font-size:1.2rem;
                color: $gray-color;

            }
        }

        .wrap-radio-group{
            margin :2rem 0 6rem 0;
            text-align:center;

            input[type="radio"]
            &:focus,
            &:active{
                padding:0;
            }

            span{
                display:block;
                padding: 0 0 0 0;
                width: 110px;
                height:110px;
                position:relative;
                font-size:1.6rem;
            }
            label{
                display:inline-block;
            }
            label + label{
                margin-left:2rem;
            }
            .female{
                input[type="radio"] + span:before {
                    content: "";
                    position:relative;
                    display: inline-block;
                    width: 110px;
                    height:110px;
                    background: url("../images/common/select_user.png") no-repeat right top/200%;
                    margin-bottom:1rem;
                  }
                  input[type="radio"] + span{
                    color:$white-color;
                  }
                  input[type="radio"]:checked + span:before {
                    background: url("../images/common/select_user.png") no-repeat right bottom/200%;
                  }
                  input[type="radio"]:checked + span{
                    color:$red-color;
                  }
                }
            .male{
                input[type="radio"] + span:before {
                    content: "";
                    position:relative;
                    display: inline-block;
                    width: 110px;
                    height:110px;
                    background: url("../images/common/select_user.png") no-repeat left top/200%;
                    margin-bottom:1rem;
                  }
                  input[type="radio"] + span{
                    color:$white-color;
                  }
                  input[type="radio"]:checked + span:before {
                    background: url("../images/common/select_user.png") no-repeat left bottom/200%;
                  }
                  input[type="radio"]:checked + span{
                    color:#2CC5D1;
                  }
                }
        }
        .guide-select-user{
            text-align:center;
            font-size:1.2rem;
            color:$gray-color;
        }
        .wrap-bottom-btn{
            button{
                @include btn-bottom
            }
        }
        
}

.select-category{
    .wrap-select-category-title{
        *{
            text-align:center;
        }
        h2{
            margin:2rem 0 1rem 0;
        }
        p{
            font-size:1.2rem;
            color: $gray-color;

            b{
                color: $white-color;
            }
        }

    }
    .wrap-bottom-btn{
        button{
            @include btn-bottom
        }  
    }
    
}

.check-group{
    margin-top:4rem;
    &:first-child{
        margin-top:3rem;
    }
    h2{
        margin:0 0 1rem 0;
    }
}
.wrap-checkbox-array {

    .checkbox-array {
        display: flex;
        flex-wrap: wrap;
        width:100%;
                
        li{
            width: 31.8%;
            margin: 0 0.5rem 0.5rem 0;
            min-height: 50px;
            text-align: center;
            
            // &:nth-child(3n){
            //     margin-right: 0;
            // }
            label{
                display: flex;
                justify-content: center;
                align-items: center;
                width:100%;
                height:100%;
                text-align:center;
                background-color: transparent;
                border: 1px solid #727272;
                color: #adadad;
                border-radius: $radius;
                -webkit-touch-callout: none;
                -webkit-tap-highlight-color: transparent;
                transition: all .2s;
                padding: 9px 5px;
                word-break: break-all;
                cursor: pointer;
            }
            input[type="checkbox"]{
                display: absolute;
                position: absolute;
                opacity: 0;
            }
            input[type="checkbox"]:checked + label{
                border: 1px solid #399AED;
                background-color: #399AED;
                color: #fff;
            }
        }
    }
}

.terms{
    .wrap-terms-contents{
        .tit-terms{
            padding-top:2rem;
        }
        label{
            span{
                color:$white-color;
            }
        }
        .all-check{
            padding:3rem 0 1.5rem 0;
            margin-bottom:2rem;
            border-bottom:1px solid #363636;
        }
        .each-check{
            textarea{
                margin: 1rem 0 3rem 0;
                padding: 1rem;
                border-radius: $radius;
                border:none;
                background-color:#292929;
                color:$gray-color;
            }
        }
    }

    .wrap-bottom-btn{
        text-align:center;

        button{
            margin:0 auto;
        }
    }
}


.wrap-withdrawal{
    padding:0 1rem;
    .wrap-withdrawal-title{
        margin:2rem 0;
        text-align:center;
    }
    .wrap-withdrawal-text{
        font-size:1.3rem;
        dl{
            padding-left:1rem;
            &:last-child{
                padding-bottom:4rem;
                margin-bottom:4rem;
                border-bottom:1px solid #363636;
            }
            &:first-child{
                dt{
                    color:#E16268;
                }
            }
        }
        dl + dl{
            margin-top:2rem;
        }
        dt{
            margin-bottom:0.5rem;
            position:relative;
            &::before{
                content: "";
                width: 2px;
                height: 2px;
                border-radius:2px;
                position:absolute;
                left:-1rem;
                top:0.7rem;
                background-color:$white-color;
            }
        }
        dd{
            font-weight:200;
            color:$gray-color;
            line-height:1.8;
        }
    }
    .wrap-radio{
        text-align:center;
        margin-bottom:4rem;
        color:$white-color;
        font-size:1.3rem;

        p{
           margin-bottom:2.5rem;
        }
        .radio-group{
            label + label{
                margin-left:3rem;
            }
            span{
                color:$white-color;
                margin-left:0.5rem;
            }
            input[type="radio"] + span{
                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                    background:#C9C9C9;
                    border-radius:1.6rem;
                }
                &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0.5rem;
                    left: 0.5rem;
                    width: 0.6rem;
                    height: 0.6rem;
                    background:$white-color;
                    border-radius:1.6rem;
                }
            }
            input[type="radio"]:checked + span{
                &:before{
                    background: #E50914;
                }
            }
        }
    }
    .wrap-bottom-btn{
        text-align:center;
        margin-bottoM:4rem;

        button{
            margin:0 auto;
        }
    }
}

// 해상도 별 속성적용 

    
    /* width:768~ */
    @include mq('md') {
        .wrap-terms-contents{
           width:100%;
        }
        .wrap-bottom-btn{
            text-align:center;
    
            button{
                margin:0 auto;
            }
        }
        .terms{
            .tit-terms{
                text-align:center;
            }
            .wrap-bottom-btn{
                text-align:center;
                
                button{
                    width:100%;
                }
            }
        }
        .wrap-login{
            .other-auth-link{
                ul{
                    margin:1.5rem 0 7rem 0;
                    text-align:center;
                    li{
                        display:inline;
                        position:relative;
                        & ::after{
                            content:'';
                            position:absolute;
                            background-color: $gray-color;
                            top:0;
                            right:-14px;
                            width:1px;
                            height:12px;
                        }
                        &:last-child{
                            & ::after{
                                background-color:transparent;
                            }
                        }
                    }
                    li + li{
                        margin-left:2.5rem;
                    }
                }
                a{
                    color: $gray-color;
                    width:auto;
                    height:auto;
                    padding:0;
                }
            }
        }
        .wrap-caution{
            p{
                padding-left:3rem;
                min-height:2rem;
                font-size:1.4rem;
                line-height:1.5;
                background: url("../images/common/icon_caution_login.svg") no-repeat center left / 2rem;
            }
        }
        
    }

    /* width:1000~ */
    @include mq('lg') {
        .login,
        .terms,
        .select-user,
        .select-category{
            width:100% !important;
            max-width:1300px !important;
            margin:0 auto;

            .header{
                display:block;
            }
            .wrap-login{
                .logo-small{
                    display:none;
                }
            }
            .pc-login{
                width:400px;
            }
        }
        .terms{
            *{
                font-size:16px;
            }
            .tit-terms{
                text-align:left;
                padding-top:60px !important;
            }
            .titlearea{
                .h2-title{
                    font-size:32px;
                    line-height:40px;
                }
            }
        }
        .wrap-bottom-btn{
            text-align:center;
            button{
                width:400px !important;
            }
        }

        .type-sub{
            display:block;
        }

        .wrap-login{
            margin:0 auto;
            padding-top:60px;
            *{
                font-size:16px;
            }
            .logo-small{
                display:none;
            }
            .wrap-checkbox{
                padding: 20px 0 30px 0;
                span{
                    line-height:21px;
                }
                .other-auth-link{
                    ul{
                        margin:1.5rem 0 7rem 0;
                        text-align:center;
                        li{
                            display:inline;
                            position:relative;
                            & ::after{
                                content:'';
                                position:absolute;
                                background-color: $gray-color;
                                top:6px;
                                right:-18px;
                                width:1px;
                                height:12px;
                            }
                            &:last-child{
                                & ::after{
                                    background-color:transparent;
                                }
                            }
                        }
                        li + li{
                            margin-left:2.5rem;
                        }
                    }
                    a{
                        color: $gray-color;
                        width:auto;
                        height:auto;
                        padding:0;
                    }
                }
            }

        }

        .wrap-caution{
            width:360px;
            margin:0 auto;
            font-size:13px;
            p{
                font-size:13px;
                line-height: 26px;
                color:$gray-color;
            }
        }
        .btn{
            font-size: 20px;
            font-weight:500;
        }

        .wrap-select-user,
        .wrap-select-category-title{
            p{
                font-size:16px;
                line-height:24px;
            }
        }
        .select-user{
            .wrap-radio-group{
                span{
                    width:220px;
                    height:220px;
                }
                .male,
                .female{
                    input[type="radio"] + span:before {
                        width:220px;
                        height:220px;
                    }
                }

            }
            .wrap-select-user{
                width:100%;
            }
        }
        .select-category{
            .check-group{
                h2{
                    font-size:32px;
                }
            }
            .wrap-checkbox-array{
                .checkbox-array{
                    li{
                        width: 145px;
                        height:90px;
                        margin:0 0 0 20px;
                        &:first-child{
                            margin-left:0; 
                        }
                    }
                }
            }
            label{
                font-size:18px;
            }
            .wrap-select-category-title{
                *{
                    text-align:left;
                }
            }
        }

        .wrap-withdrawal{
            width:100% !important;
            max-width:1300px !important;
            margin:0 auto;
            padding:0 1rem;
            .wrap-withdrawal-title{
                margin:60px 0;
                text-align:left;
            }
            .wrap-withdrawal-text{
                font-size:16px;
                dl{
                    padding-left:1rem;
                    &:last-child{
                        padding-bottom:60px;
                        margin-bottom:60px;
                    }
                }
                dl + dl{
                    margin-top:30px;
                }
                // dt{
                //     margin-bottom:0.5rem;
                //     position:relative;
                //     &::before{
                //         content: "";
                //         width: 2px;
                //         height: 2px;
                //         border-radius:2px;
                //         position:absolute;
                //         left:-1rem;
                //         top:0.7rem;
                //         background-color:$white-color;
                //     }
                // }
                // dd{
                //     font-weight:200;
                //     color:$gray-color;
                //     line-height:1.8;
                // }
            }
            .wrap-radio{
                text-align:center;
                margin-bottom:4rem;
                color:$white-color;
                font-size:16px;
        
                p{
                   margin-bottom:2.5rem;
                }
                .radio-group{

                    label + label{
                        margin-left:3rem;
                    }
                    span{
                        font-size:16px;
                        margin-left:0.5rem;
                    }
                    // input[type="radio"] + span{
                    //     &:before{
                    //         content: "";
                    //         display: inline-block;
                    //         position: absolute;
                    //         top: 0;
                    //         left: 0;
                    //         width: 1.6rem;
                    //         height: 1.6rem;
                    //         background:#C9C9C9;
                    //         border-radius:1.6rem;
                    //     }
                    //     &:after{
                    //         content: "";
                    //         display: inline-block;
                    //         position: absolute;
                    //         top: 0.5rem;
                    //         left: 0.5rem;
                    //         width: 0.6rem;
                    //         height: 0.6rem;
                    //         background:$white-color;
                    //         border-radius:1.6rem;
                    //     }
                    // }
                    // input[type="radio"]:checked + span{
                    //     &:before{
                    //         background: #E50914;
                    //     }
                    // }
                }
            }
            .wrap-bottom-btn{
                text-align:center;
                margin-bottoM:4rem;
        
                button{
                    margin:0 auto;
                }
            }
        }

    }

    /* width:1320~ */
    @include mq('xl'){
        .wrap-terms-contents{
            width:1300px; 
         }
    }

