
.etc {
    margin:0 1rem;

    .wrap-title{
        margin-top:1.5rem;
    }
    .text-box{
        color:$gray-color;
        font-size:1.3rem;
        margin-top:5px;
    }

    .wrap-select-box{
        select::-ms-expand { display: none; }
        @include select-position;
        .select-box{
            @include select-box;
            @include ellipsis;
        }
    }

    .header-external{
        height:4.5rem;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:10;
        background-color: #000;

        .logo{
            width:7.7rem;
            height:1.5rem;
            margin:1.7rem 0 0 2rem;
            background: url("../images/common/logo_red.png") no-repeat left center / 100%;
        }

       .btn-acontent{
           position:absolute;
           right:1rem;
           top:0.7rem; 
           button{
               color:$white-color;
               width:15rem;
               height:3rem;
               padding:0.5rem 3rem 0.5rem 2rem;
               background: #{$red-color} url("../images/common/arrow_right.svg") no-repeat 88% 50% / 5%;

               &.round{
                   border-radius:3rem;
               }
           }
       }
    }

    .thumb-list{
        &.product{
            margin:4rem -1rem 0 -1rem;
        }
    }

    &.error{
        .message-error{
            dl{
                margin:7rem 1.7rem 0 1.7rem;
                dt{
                    margin-bottom:3rem;
                    height:8rem;
                    background: url("../images/common/bg_error.svg") no-repeat center center / 20%;
                }
                dd{
                    text-align:center;

                    .first, .second{
                        font-size:1.8rem;
                    }
                    .first{
                        color:$blue-color;
                    }
                    .second{
                        margin:1rem 0;
                    }
                    .third{
                        width:20rem;
                        margin:0 auto;
                        font-size:1.3rem;
                        color:$lightgray-color;
                    }
                }
            }
        }
        
        .wrap-btn{
            text-align:center;
            margin-top:3.5rem;

            button{
                height:4rem;
                border-radius:4rem;
                padding:1.2rem 1.5rem;
            }
        }
    }

    .wrap-loading{
        width:100vw;
        height:100vh;
        background-color:rgba(0, 0, 0, .8);
        position:fixed;
        z-index:99;
        top:0;
        right:0;

        .wrap-svg{
            width: 10rem;
            height: 10rem;
            position:absolute;
            top:40%;
            left:50%;
            transform:translate(-50%, -40%);

            svg{
                width: 150%;
                height: 100%;
                display:inline-block;
            }
        }
        


    }
}