//== 리스트화면
//bigbanner-list
.list.bigbanner-list {

    .banner-list {

        li {
            position: relative;
            margin-bottom: 1rem;

            .title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0 6rem 2.5rem 12px;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 15rem;
                    background: linear-gradient(to bottom, rgba(34, 34, 34, 0), rgba(0, 0, 0, 0.6));
                }
                strong {
                    position: relative;
                    display: block;
                    color: #fff;
                    font-size: 3rem;
                    z-index: 1;

                }
                .btn.round {
                    position: relative;
                    margin-top: 1rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    z-index: 1;

                }
            }
        }
    }
}
//category-list
.list.category-list {
    margin-bottom: $footer-mb4;

    //lnb
    .lnb {
        position: sticky;
        position: -webkit-sticky;
        top: 4.5rem;
        left: 0;
        width: 100%;
        background: #000;
        z-index: 2;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #363636;
        }
        .swiper-container {
            padding: 0;
            
            .swiper-slide {
                width: auto;
                padding: 0 10px;
                color: #aea7a2;
                font-size: 1.5rem;
                text-align: center;

                a {
                    display: block;
                    height: 4rem;
                    line-height: 45px;
                
                    &.active {
                        font-weight: 600;
                        border-bottom: 2px solid $white-color;
                    }
                }
            }
        }
    }
    //list-filter
    .list-filter {
        margin-top: 1rem;
    }
    //thumb-list
    .thumb-list {
        margin-top: 0;
    }
}
//curation-list
.list.curation-list {
    margin-bottom: $footer-mb4;

    //list-filter
    .list-filter {
        margin-top: 0.5rem;
    }
    //thumb-list
    .thumb-list {
        margin-top: 0;
    }
}

/* width:1320~ */
@include mq('xl') {
    .list.bigbanner-list {
        max-width: 1300px;
        margin: 0 auto;
    }
}