//== 메뉴화면
.menu {
    margin-bottom: $footer-mb4;

    //component thumb-list
    .thumb-list {
        margin-top: 1rem;

        .titlearea {

            .h2-title {
                float: left;
                width: 80%;
                padding-right: 0;
            }
        }
        .column {
            input[type="checkbox"] + span {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
            }
            input[type="checkbox"] + span:before {
                width: 3.2rem;
                height: 3.2rem;
                background-image: url("../images/common/form_chk_circle.png");
                background-position-y: 0;
                background-size: 3.2rem;
            }
            input[type="checkbox"]:checked + span:before {
                background-position-y: -4rem;
            }
        }
    }
    //nodata
    .nodata {
        margin-top: 1.5rem;
        text-align: center;

        strong {
            font-size: 1.8rem;
        }
        p {
            margin-top: 0.5rem;
            padding: 0 5.5rem;
            color: $lightgray-color;
            font-size: 1.2rem;
            font-weight: 200;
            line-height: 1.5;
        }
        .btn {
            margin-top: 1.5rem;
        }
    }
    //faq
    &.faq {
        margin-top: 1.5rem;

        .titlearea {
            padding: 0 20px;

            h2 {
                font-size: 3.6rem;
                font-weight: 600;
            }
            p {
                color: $gray-color;
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }
        .accordion {
            margin-top: 1.5rem;
            padding: 0 10px;

            > ul {
                border-top: 1px solid #727272;

                > li {
                    border-bottom: 1px solid #363636;

                    button {
                        width: 100%;
                        padding: 1.5rem 1rem;
                        text-align: left;
                        
                        h3 {
                            position: relative;
                            padding-right: 3rem;
                            color: $white-color;
                            font-size: 1.4rem;

                            &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 1rem;
                            height: 1rem;
                            margin-top: -0.5rem;
                            background: url("../images/common/sidemenu_accordion.png") no-repeat 100% 50% /100%;
                            transition: all .3s;
                            }
                        }
                        &.open {
                            background: $dark-color;
                        }
                        &.open h3:after {
                            transform:rotate(-180deg);
                        }
                        &.open ~ .cont {
                            display: block;
                        }
                    }
                    .cont {
                        display: none;
                        padding: 1rem 1rem 2.4rem 1rem;
                        background: $dark-color;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

