//== 메뉴화면
.menu {
    //component thumb-list
    .thumb-list {
        margin-top: 1rem;

        .titlearea {

            .h2-title {
                float: left;
                width: 80%;
                padding-right: 0;
            }
        }
        .column {
            input[type="checkbox"] + span {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
            }
            input[type="checkbox"] + span:before {
                width: 3.2rem;
                height: 3.2rem;
                background-image: url("../images/common/form_chk_circle.png");
                background-position-y: 0;
                background-size: 3.2rem;
            }
            input[type="checkbox"]:checked + span:before {
                background-position-y: -4rem;
            }
        }
    }
    //nodata
    .nodata {
        margin-top: 1.5rem;
        text-align: center;

        strong {
            font-size: 1.8rem;
        }
        p {
            margin-top: 0.5rem;
            padding: 0 5.5rem;
            color: $lightgray-color;
            font-size: 1.2rem;
            font-weight: 200;
            line-height: 1.5;
        }
        .btn {
            margin-top: 1.5rem;
        }
    }
}

