
.mypage {
    margin:0 2rem;

    .mypage-tb{
        border-radius:5px;
        overflow:hidden;
        margin:1rem -1rem 0 -1rem;

        li + li{
            border-top:1px solid #363636;
        }
        li{
            padding:15px 0;
            background-color: #1d1d1d;
            text-align:left;
            font-size:1.3rem;
            display:table;
            width:100%;

            dt, dd{
                display:table-cell;
                vertical-align:middle;
            }
            dt{
                color:$lightgray-color;
                padding-left: 1rem;    
                width:90px;    
            }
            dd{
                color:$white-color;
                dl{
                    margin-top:8px
                }
                dt{
                    padding:0 1rem 0 0;
                    width:auto;
                    color:$white-color;
                }
                i{
                    color:#399ade;
                }
                .btn{
                    &.small{
                        @include btn-small-type1;
                    }
                }
            }
        }
    }
    .wrap-caution{
        margin:5px -1rem 42px -1rem;
        padding:8px 9px 8px 10px;
        background-color:#1D1D1D;
        border-radius:5px;

        p{
            color:$gray-color;
            padding-left:3rem;
            min-height:2rem;
            font-size:1.4rem;
            line-height:1.5;
            background: url("../images/common/icon_caution_login.svg") no-repeat center left / 2rem;
        }
    }
    .btn-wrap{
        &-mypage{
            padding:6rem 0 2rem 0;
            .btn{
                &.mypage{
                    padding:6rem 0 2rem 0;
                }
            }
        }
    }
    .check-group{
        &.mypage{
            margin:0;
        }
    }
}

.h2-title{
    position:relative;
    .btn{
        &.small{
            position:absolute;
            top:-5px;
            right:0;
            @include btn-small-type1
        }
    }
}

.change-category{
    .wrap-select-category-title{
        h2, p{
            text-align:center;
        }
        h2{
            margin:2rem 0 1rem 0;
        }
        p{
            font-size:1.2rem;
            color: $gray-color;

            b{
                color: $white-color;
            }
        }

    }
    
    button{
        @include btn-bottom
    }
     
}

/* width:768~ */
@include mq('md') {
}

/* width:1000~ */
@include mq('lg') {
    .mypage {
        width:100%;
        max-width:1300px;
        margin:0 auto 0 auto;

        .mypage-tb{
            margin:60px 0 0 0;
            dl{
                font-size:18px;
                dd{
                    button,
                    dl{
                        font-size:16px;
                    }
                    .btn{
                        &.small{
                            padding:6px 15px 5px 15px;
                        }
                    }
                }
            }     
        }

        .h2-title{
            position:relative;
            font-size:32px;
            .btn{
                &.small{
                    padding:6px 15px 5px 15px !important;
                    position:absolute;
                    top:5px;
                    right:0;
                    @include btn-small-type1
                }
            }
        }

        .wrap-checkbox-array{
            .checkbox-array{
                li{
                    width: 145px;
                    height:90px;
                    margin:0 0 0 20px;
                    &:first-child{
                        margin-left:0; 
                    }
                }
            }
            label{
                font-size:18px;
            }
        }

        button{
            font-size:18px;
        }

        .wrap-caution{
            margin: 30px 0 60px 0;
            padding: 12px 9px 12px 20px;
            width:100%;
            p{
                font-size:13px;
                line-height: 26px;
                color:$gray-color;
            }
        }
        .btn-wrap-mypage{
            padding: 82px 0 100px 0;
            text-align:center;
        }
    }
}

/* width:1320~ */
@include mq('xl'){

}

