//== 팝업 페이지

//공유하기 팝업
.modal-share {
    
    .link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 20px;
        background: #F6F6F6;

        li {
            width: 33.333%;
            text-align: center;

            a {
                display: block;
                padding-top: 5.5rem;
                background-repeat: no-repeat;
                background-position: 50% 0;
                background-size: 5rem;
                color: $black-color;
                font-size: 1.2rem;
            }
            &:nth-child(n + 4) {
                margin-top: 3rem;
            }
            &.kakaotalk {
                a {
                background-image: url("../images/common/icon_link_kakaotalk.png");
                }
            }
            &.kakaostory {
                a {
                background-image: url("../images/common/icon_link_kakaostory.png");
                }
            }
            &.facebook {
                a {
                background-image: url("../images/common/icon_link_facebook.png");
                }
            }
            &.instagram {
                a {
                background-image: url("../images/common/icon_link_instagram.png");
                }
            }
            &.band {
                a {
                background-image: url("../images/common/icon_link_band.png");
                }
            }
            &.url {
                a {
                background-image: url("../images/common/icon_link_url.png");
                }
            }
        }
    }
    .toggle {
        padding: 2rem 20px 3rem 20px;

        .toggle-btn {
            color: $black-color;
            font-size: 1.4rem;
            font-weight: 600;

            &:after {
                content: "";
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
                margin-left: 1rem;
                background: url("../images/common/btn_toggle.png") no-repeat 0 50%/1.2rem;
                vertical-align: middle;
                transition: all .3s;
            }
        }
        .toggle-cont {
            display: none;
            margin-top: 1rem;

            p {
                font-size: 1.2rem;
                line-height: 1.7;
            }
            }
            &.active {
            .toggle-btn {
                &:after {
                transform: rotate(-180deg);
                }
            }

            .toggle-cont {
                display: block;
            }
        }
    }
}

/* width:768~ */
@include mq('md') {
    .modal-share {
        width: 520px;
    }
}