//search

$rem4: 4rem;  // height:4rem

.search {

    margin:0 1rem;
    font: {
        size:1.08rem;
    }

    button {
        position: absolute;
        text-indent: -9999px;

        &.btn-close {
            top: 1rem;
            right: 0;
            width: 3rem;
            height: 3rem;
            background: url("../images/common/sidemenu_close.png") no-repeat 50% 50% /100%;
        }
      }


    .wrap-input{
        
        height:#{$rem4};
        position:relative;
        margin-top:1.5rem;

        .for-pc{
            display:none;
        }

        .search-input{
            height:#{$rem4};
            margin:0 auto;
            border-radius: 2rem;
            background:$white-color url("../images/common/icon_search.svg") no-repeat 1.5rem 50% / 1.5rem;
            padding: 0.8rem 4rem ;
            border:none;
            text-align:left;
            float:left;
            color:$black-color;
            font-size:1.4rem;

            &::placeholder{
                color:$black-color;
            }   
        }

        .btn-search-close{
            width:3.5rem;
            height:#{$rem4};
            border:none;
            background-color:transparent;
            color:$white-color;
            float:right;
        }

        .wrap-relation{

            display:block;
            width:100%;
            background-color:$black-color;
            position:absolute;
            z-index:100;
            top:-5rem;
            padding-top:1rem;

            .word{
                
                background-color:$white-color;
                border-radius:20px;
                width:calc(100% - 4rem);
                min-height:100px;
                background-color:#f5f5f5;

                .search-input{
                    float:none;
                    border-top-left-radius:20px;
                    border-top-right-radius:20px;
                }

                button{

                    position: relative;
                    text-indent: 0;
                    width:100%;
                    background-color: $white-color;
                    padding: 1.6rem 0;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;

                    .btn-del-word a{
                        padding: 1.6rem 0;
                    }

                }


            }

              .wrap_latest{
                
                padding: 1.6rem 0;
                h2, ul{
                    background-color:#f5f5f5;
                }

                h2,a{
                    color: $black-color;
                }

                h2{
                    padding:1.5rem 1.5rem 1rem 1.5rem;
                }
                ul{
                    margin:0 1.5rem;
                    li{
                        position:relative;
                    }
                    .btn-del-word-small{
                        position:absolute;
                        top:33%;
                        right:0;
                        width:1.5rem;
                        height:1.5rem;
                        padding:0.5rem;
                        background: url("../images/common/icon_del_list.svg") no-repeat center center / 100%;
                        text-indent: -999px;
                        font-size:0;
                    }
                    li a{
                        width:calc(100% - 3rem);
                        display:block;
                        padding: 1rem 0;
                        font-size:1.3rem;
                    }
                }

                  
                  
              }

        }

    }

    .recommand-word,
    .tag-list{
        margin:1.9rem auto 0 auto;
        width:calc(100% - 3rem);
    }
    .tag-list.recommand{
        border-top:1px solid #363636;
        padding-top:25px;
    }

    .recommand-word{

        ul{
            padding: 15px 0 0 0;

            li{
                width:50%;
                text-align:left;
                display:inline-block;
                line-height:30px;
                font: {
                    size:1.3rem;
                }
            }

            a{
                color:$gray-color;
            }
        }
    }

    &-result{
        // margin:1.9rem auto 0 auto;
        min-height:186px;
        position:relative;

        &-text{
            position:absolute;
            top:35%;
            width:100%;

            h3{
                font: {
                    size:1.5rem;
                }
            }

            p{
                padding-top:1rem;
                color:#c9c9c9;
                line-height:1.8rem;
            }
        }

        .nodata{
            text-align:center;
            text-decoration:none;
        }
    }

    &-thumnail{
        position:relative;
        padding-top:2.5rem;

        .search-result-text {
            position: relative;
            width: calc(100% - 100px);
        }
        .list-filter {
            position: absolute;
            top: 1.9rem;
            right: 0;
            padding: 0;
    
            .select {
                button {
                    position: relative;
                    text-indent: 0;
                }
            }
        }
    }
 
}

.result-no{

    text-align:left ;
    line-height:2rem;
    margin-bottom:20px;
    font: {
        size:1.5rem;
    }

    i{
        color:#e16268;
    }
}

.result-block{

    margin:0 -10px;

    h3{
        i{
            text-align:left;
            color:#e16268;
            margin-left:0.8rem;
        }
    }

}
.result-block + .result-block{
    margin-top:30px;
} 


/* width:768~ */
@include mq('md') {
}

/* width:1000~ */
@include mq('lg') {
    .search {
        position:absolute;
        top:0;
        z-index:10;
        width:100%;
        background-color:#292929;
        margin:0;
        padding:90px 60px 60px 60px;

        .wrap-relation{
            .word{
                max-width:720px;
                margin:0 auto;
                .wrap_latest{
                    text-align:left
                }
            }
        }
        .wrap-input{
            width:100%;
            max-width:720px;
            margin:0 auto 0 auto;
            .recommand,
            .recommand-word{
                max-width:720px;
                margin:0 auto;
            }
            .for-pc{
                display:block;

                button {
                    &.btn-close {         
                        top: -77px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                    }
                  }
            }
        }

        .recommand-word{
            max-width:720px;
            margin:0 auto;
            margin:30px auto 0 auto;
        }
        .wrap-input{
            text-align:center;
            height:60px;
            .search-input{
                font-size:24px;
                float:none;
                max-width:720px;
                height:60px;
                border-radius:60px;
                padding: 0.8rem 52px;
                background: #fff url(/img/icon_search.f7cdcbf7.svg) no-repeat 24px 50%/24px;
                &::placeholder{
                    color:$gray-color;
                }
            }
            .wrap-relation{
                background-color:#292929;
            }
        }
        .recommand-word,
        .tag-list{
            h2{
                font-size:24px !important;
            }
        }
        .tag-list{
            max-width:720px;
            margin:0 auto;
            margin: 30px auto 0 auto;
            &.recommand{
                ul{
                    margin-top:0;
                    li{
                        margin-top:20px;
                    }
                }   
            }
        }
        button {
            &.btn-close {         
                top: -80px;
                right: -25px;
                width: 30px;
                height: 30px;
            }
          }

          &-result{
    
            &-text{
                margin: 0 -10px;
            }
    
        }
    }
    .search-result-text,
    .result-block{
        margin:0;
    }
    .result-block + .result-block{
        margin-top:60px;
    } 

    &.search-result{
        background-color:transparent;
        position:relative;
        max-width:1300px;
        margin:0 auto;
        padding: 50px 0 60px 0;

        .result-no{
            border-bottom:1px solid #363636;
            padding-bottom:20px;
            margin-bottom:30px;
        }
        .wrap-input{
            margin-bottom:40px;
        }
        &-text{
            text-decoration:none;
        }
        h3{
            font-size:24px;
            i{
                margin-left:5px;
            }
        }
        .result-no{
            font-size:20px;
        }

        .btn{
            &.more{
                position:relative;
            }
        }
        &-nodata{
            padding: 90px 0 60px 0;
            background-color:transparent;
            .tag-list{
                max-width:1300px;
            }
            .search-result{
                padding: 180px 0 60px 0;

                .nodata{
                    h3{
                        font-size:40px;
                    }
                    p{
                        font-size:18px;
                        line-height:26px;
                        padding-top:16px;
                    }
                }
            }
            .tag-list{
                margin: 78px auto 0 auto;
                &.recommand{
                    padding-top:60px;
                }
            }
        }
    }
}

/* width:1320~ */
@include mq('xl'){

}