// header
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    z-index: $header-index;
  
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #22222200 0%, #222222 100%) 0% 0%;
        opacity: 0.4;
    }
    &.fixed {
        background: #222;
    }
    h1 {
        position: relative;
    }
    button {
        position: absolute;
        height: 4.5rem;
        text-align: left;
        text-indent: -9999px;
  
        &.btn-search {
            top: 0;
            right: 48px;
            width: 3.2rem;
            background: url("../images/common/header_search.png") no-repeat 50% 50% /1.7rem;
        }
        &.btn-menu {
            top: 0;
            right: 13px;
            width: 3.2rem;
            background: url("../images/common/header_menu.png") no-repeat 50% 50% /1.5rem;
        }
        &.btn-prev {
            top: 0;
            left: 13px;
            width: 3.2rem;
            background:url("../images/common/header_prev.png") no-repeat 50% 50% /1.7rem;
        }
    }
    .logo-list {
        position:absolute;
        top: 0.3rem;
        left: 8px;

        &.open {
            background: #393939;
            border-radius: 6px;

            li {
                display: block;
                
                &.acontent a {
                    background-image: url("../images/common/logo.svg");
                }
            }
            .btn-open {
                transform: rotate(-180deg);
                transition: all 0.5s;
            }
        }
        li {
            display: none;
          
            &:first-child {
                display: block;
            }
            &:last-child {
                border-top: 1px solid #727272;
            }
            &.acontent a {
                background: url("../images/common/logo_white.png") no-repeat 12px 50% /7.7rem;
            }
            &.amway a {
                background: url("../images/common/logo_amway.svg") no-repeat 50% 50% /5.4rem;
            }
            a {
                display: block;
                width: 12rem;
                height: 4rem;
                padding: 12px 30px 12px 12px;
            }
        }
        .btn-open {
            position: absolute;
            top: 1.3rem;
            right: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            background: url("../images/common/header_logolist.png") no-repeat 50% 50% /1.3rem;
        }
    }
    //header type-main
    &.type-main ~ .container {
        padding-top: 0;
    }
    //header type-sub
    &.type-sub {
        background: #000;

        .h1-title {
            position: absolute;
            text-indent: -9999px;
        }
        .logo-list {
            display: none;
        }
    }
}

/* width:768~ */
@include mq('md') {
    .header {
        .logo-list {

            &.open {
                .btn-open {
                    top: 1.2rem;
                }
            }
            .btn-open {
                top: 1.4rem;
            }
        }
    }
}

/* width:1000~ */
@include mq('lg') {
    .header {
        height: 60px;

        & ~ .container {
            padding-top: 60px;
        }
        //header type-main
        &.type-main ~ .container {
            max-width: none;
        }
        .logo-list {
            top: 5px;
            left: -7px;
        }
        button {
      
            &.btn-search {
                top: 25px;
                right: 55px;
                width: 16px;
                height: 17px;
                background-size: 100% 100%;
            }
            &.btn-menu {
                top: 26px;
                right: 10px;
                width: 15px;
                height: 16px;
                background-size: 100% 100%;
            }
        }
        //header type-sub
        &.type-sub {

            .h1-title {
                display: none;
            }
            .logo-list {
                display: block;
            }
            .btn-prev {
                display: none;
            }
        }
    }
}

/* width:1320~ */
@include mq('xl') {
    .header {
        left: 50%;
        max-width: 1300px;
        margin-left: -650px;

        .logo-list {
            left: -19px;

            &.open {
                top: 18px;
                left: 0;

                &.open {
                    .btn-open {
                        top: 18px;
                    }
                }
            }
            li {

                &.acontent a {
                    background-position: 20px 50%;
                    background-size: 108px;
                }
                &.amway a {
                    background-size: 86px;
                }
                a {
                    width: 180px;
                    height: 50px;
                    padding: 13px 30px 13px 20px;
                }
            }
            .btn-open {
                top: 18px;
                right: 21px;
                width: 13px;
                height: 13px;
                background-size: 13px;
            }
        }
        button {

            &.btn-menu {
                right: 0;
            }
        }
    }

}

