// header
.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 3.462rem;
  transition: all .3s ease-in-out;
  z-index: 30;
  
  &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #22222200 0%, #222222 100%) 0% 0%;
      opacity: 0.4;
  }
  &.fixed {
      background: #222;
      
      .logo-list li.acontent a {
          background-image: url("../images/common/logo_red.png");
      }
  }
  //header type-main
  &.type-main ~ .container {
      padding-top: 0;
  }
  h1 {
      position: relative;
      line-height: 59px;
      color: #101010;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 0;
  }
  button {
      position:absolute;
      height:59px;
      text-align:left;
      text-indent:-9999px;
      z-index:1;
  
      &:after {
          content:"";
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
      }
      &.btn-search {
          top:0;
          right:48px;
          width:2.462rem;
          height:3.462rem;
          background:url("../images/common/header_search.png") no-repeat 50% 50% /1.308rem;
      }
      &.btn-menu {
          top:0;
          right:13px;
          width:2.462rem;
          height:3.462rem;
          background:url("../images/common/header_menu.png") no-repeat 50% 50% /1.154rem;
      }
      &.btn-prev {
          top:0;
          left:0;
          width:50px;
          height:59px;
      }
      &.btn-prev:after {
          top:50%;
          left:15px;
          transform:translateY(-50%);
          width:11px;
          height:21px;
          //background:url("../images/common/header-prev.png") no-repeat -75px 0;
          background-size:250px;
      }
  }
  .logo-list {
      position:absolute;
      top:16px;
      left:20px;
      padding-right: 1.923rem;
      
      &:after {
          content:"";
          position:absolute;
          top:0;
          right:0;
          width:1.154rem;
          height:1.154rem;
          background:url("../images/common/bg_logolist.png") no-repeat 100% 50% /1.154rem;
          transition:all .3s;
      }
      &.open:after {
          transform:rotate(-180deg);
      }
      &.open li {
          display:block;
      }
      li {
          display:none;
      }
      li:first-child {
          display:block;
      }
      li a {
          display:block;
          width:6rem;
          height:1.6rem;
      }
      li.acontent a {
          background:url("../images/common/logo_white.png") no-repeat 0 0 /5.923rem;
      }
      li.amway a {
          height:3rem;
          background:url("../images/common/logo_amway.png") no-repeat 0 0 /5.923rem;
      }
  }
}
