.body {
  min-height: 100vh;
}

.container {
  position: relative;
  min-height: calc(100vh - #{$footer-height});
  padding-top: $header-height;
}


/* width:768px */
@media screen and (min-width:768px){
}

/* width:1000 */
@media screen and (min-width:1000px){
}
