.body {
  min-height: 100vh;
}

.container {
  position: relative;
  min-height: calc(100vh - #{$footer-height});
  padding-top: $header-height;
}

/* width:768~ */
@include mq('md') {
}

/* width:1000~ */
@include mq('lg') {
}

/* width:1320~ */
@include mq('xl') {
}

