@charset "UTF-8";
/**
 * --------------------------------
 * base CSS
 * creator : chowoobin
 * --------------------------------
*/
/* fonts */
@font-face {
  font-family: "RixSinHeadPro";
  font-style: normal;
  font-weight: 200;
  src: url("../font/RixSinHead_Pro_Light.eot");
  src: url("../font/RixSinHead_Pro_Light.eot?#iefix") format("embedded-opentype"), url("../font/RixSinHead_Pro_Light.woff2") format("woff2"), url("../font/RixSinHead_Pro_Light.woff") format("woff");
}

@font-face {
  font-family: "RixSinHeadPro";
  font-style: normal;
  font-weight: 500;
  src: url("../font/RixSinHead_Pro_Medium.eot");
  src: url("../font/RixSinHead_Pro_Medium.eot?#iefix") format("embedded-opentype"), url("../font/RixSinHead_Pro_Medium.woff2") format("woff2"), url("../font/RixSinHead_Pro_Medium.woff") format("woff");
}

@font-face {
  font-family: "RixSinHeadPro";
  font-style: normal;
  font-weight: 600;
  src: url("../font/RixSinHead_Pro_Bold.eot");
  src: url("../font/RixSinHead_Pro_Bold.eot?#iefix") format("embedded-opentype"), url("../font/RixSinHead_Pro_Bold.woff2") format("woff2"), url("../font/RixSinHead_Pro_Bold.woff") format("woff");
}

html {
  font-size: 13px;
}

body {
  position: relative;
  background: #000;
  font-family: "RixSinHeadPro", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -0.05em;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

textarea {
  resize: none;
  outline: none;
  padding: 7px 20px;
  line-height: 20px;
  color: #454545;
  font-family: "RixSinHeadPro", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
}

button {
  font-family: "RixSinHeadPro", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  cursor: pointer;
  padding: 0;
  border: none;
  letter-spacing: -0.05em;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

i, p, div, span, li {
  margin: 0;
}

em {
  display: inline-block;
  font-style: normal;
  letter-spacing: -0.03em;
}

strong {
  font-weight: 600;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table caption {
  display: none;
}

th, td {
  padding: 0;
}

input, select {
  padding: 0;
  -webkit-border-radius: 0;
}

input:focus {
  outline: none;
}

dl, dd {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

img[usemap], map area {
  outline: none;
}

hr {
  display: none;
}

address {
  font-style: normal;
}

/* form */
input, select, label, button, textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: transparent;
  color: #454545;
  font-size: 13px;
  line-height: normal;
  font-family: "RixSinHeadPro", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  vertical-align: middle;
}

input, textarea, select, tt, code, kbd, samp, pre {
  font-family: "RixSinHeadPro", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
}

button {
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  color: #aea7a2 !important;
  border: 1px solid #e7e7e7 !important;
  background-color: #e7e7e7 !important;
}

[type=file] {
  cursor: pointer;
}

.hide {
  position: absolute !important;
  left: -9999px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width:768px */
@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

/* width:1000 */
@media screen and (min-width: 1000px) {
  html {
    font-size: 17px;
  }
}

/**
 * --------------------------------
 * variables CSS
 * creator : chowoobin
 * --------------------------------
*/
/**
 * --------------------------------
 * mixins CSS
 * creator : chowoobin
 * --------------------------------
*/
/**
 * --------------------------------
 * common CSS
 * creator : chowoobin
 * --------------------------------
*/
input, select, textarea, .inputbox {
  background: #fff;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="search"] {
  min-width: 120px;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #e6e6e6;
}

input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="search"]:disabled {
  color: #888;
  background: #f3f3f3;
}

input[type="radio"], input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="radio"] + span, input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  min-height: 22px;
  color: #767572;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  line-height: 22px;
  font-size: 14px;
  vertical-align: top;
}

input[type="checkbox"] + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../img/common/form_chk.png") no-repeat 0 0;
  background-position-y: 0;
}

input[type="checkbox"]:checked + span:before {
  width: 50px;
  background-position-y: -25px;
}

input[type="checkbox"]:disabled + span:before {
  background-position-y: -50px;
}

input[type="checkbox"]:disabled:checked + span:before {
  background-position-y: -75px;
}

input[type="radio"] + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../img/common/form_rdo.png") no-repeat 0 0;
  background-position-y: 0;
}

input[type="radio"]:checked + span:before {
  background-position-y: -25px;
}

input[type="radio"]:disabled + span:before {
  background-position-y: -50px;
}

input[type="radio"]:disabled:checked + span:before {
  background-position-y: -75px;
}

input[type="button"] {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  display: inline-block;
  position: relative;
  min-width: 120px;
  width: 100%;
  height: 36px;
}

.selectbox:before {
  content: '';
  position: absolute;
  top: 17px;
  right: 17px;
  width: 11px;
  height: 6px;
  margin-top: -1px;
  background: url("../img/common/form_select.png") no-repeat 0 0;
}

.selectbox select {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 40px;
  border: 1px solid #e6e6e6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectbox select option:checked, .selectbox select option:hover {
  padding-left: 20px;
  padding-right: 30px;
}

.selectbox.open:before {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  resize: none;
}

.datepicker {
  display: inline-block;
  width: 100%;
  font-size: 0;
}

.datepicker:first-child {
  margin-left: 0;
}

.datepicker.period label {
  width: 47%;
}

.datepicker label {
  width: 100%;
}

.datepicker .hyppen + label {
  margin-left: 0;
}

.datepicker .ui-datepicker {
  padding: 0 1px;
  display: block;
  width: 100%;
  border: none;
}

.ui-datepicker .ui-datepicker-header {
  padding: 0;
  background-color: transparent;
  border: none;
}

.ui-datepicker .ui-datepicker-prev {
  top: 5px;
  left: calc(50% - 80px);
  width: 26px;
  height: 26px;
  background: transparent;
}

.ui-datepicker .ui-datepicker-prev:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 9px;
  height: 18px;
  background: url("../img/common/datepicker_prev.png") no-repeat 0 0/auto 100%;
}

.ui-datepicker .ui-datepicker-next {
  top: 5px;
  right: calc(50% - 80px);
  width: 26px;
  height: 26px;
  background: transparent;
}

.ui-datepicker .ui-datepicker-next:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 9px;
  height: 18px;
  background: url("../img/common/datepicker_next.png") no-repeat 0 0/auto 100%;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0;
  padding: 2px 0 0 0;
  line-height: 31px;
  color: #101010;
  font-size: 15px;
  font-weight: 600;
  font-family: "RixSinHeadPro";
}

.ui-datepicker table {
  margin-top: 7px;
  margin-bottom: 2px;
  border-collapse: separate;
  border-spacing: 9px;
}

.ui-datepicker th {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #454545;
  font-size: 13px;
  font-weight: 500;
  font-family: "RixSinHeadPro";
}

.ui-datepicker th.ui-datepicker-week-end {
  color: #ff1e13;
}

.ui-datepicker th.ui-datepicker-week-end:last-child {
  color: #5e89e2;
}

.ui-datepicker td {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 13px;
  font-family: "RixSinHeadPro";
}

.ui-datepicker td.ui-state-disabled {
  opacity: 1;
}

.ui-datepicker td .ui-state-default {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 20px;
  height: 22px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  text-align: center;
  color: #222;
  border-radius: 20px;
}

.ui-datepicker td .ui-state-default.ui-state-active {
  background: #326dc2;
  color: #fff;
}

.ui-datepicker td.ui-state-use .ui-state-default,
.ui-datepicker td.ui-state-use.ui-datepicker-today .ui-state-default {
  color: #101010;
  font-weight: 600;
}

.ui-datepicker td.ui-state-use .ui-state-active {
  color: #fff;
  font-weight: 600;
  background-color: #ff6913;
}

.ui-datepicker td.ui-datepicker-today .ui-state-default {
  color: #aea7a2;
}

.ui-datepicker td.ui-datepicker-today .ui-state-default:after {
  position: absolute;
  bottom: -12px;
  left: -6px;
  display: block;
  width: 30px;
  color: #aea7a2;
  font-size: 13px;
  font-weight: 500;
}

.ui-datepicker td.ui-datepicker-today .ui-state-default.ui-state-active {
  background: #326dc2;
  color: #fff;
}

.ui-datepicker .ui-datepicker-current {
  display: none;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  height: 50px;
  line-height: 48px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
}

.btn.round {
  height: 25px;
  line-height: 23px;
  padding: 0 1rem;
  background: #fff;
  color: #000;
  font-size: 1rem;
  border-radius: 0.923rem;
}

.btn.arrow {
  height: auto;
  line-height: 1.2;
  padding: 0 0.769rem 0 0;
  background: url("../img/common/btn_arrow.png") no-repeat 100% 55%/0.462rem;
  color: #B3B3B3;
  font-size: 0.846rem;
}

.btn.plus {
  height: auto;
  line-height: 1.2;
  padding: 0 1.538rem 0 0;
  background: url("../img/common/btn_plus.png") no-repeat 100% 55%/0.769rem;
  font-size: 1rem;
  font-weight: 600;
}

/* tabmenu */
.tab-menu {
  height: 36px;
  font-size: 0;
  border-bottom: 1px solid #e7e7e7;
}

.tab-menu > li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px;
  line-height: 34px;
  color: #aea7a2;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  z-index: 0;
}

.tab-menu > li.active {
  color: #ff6913;
  font-weight: 600;
  border-bottom: 2px solid #ff6913;
  z-index: 1;
}

.tab-contents > li {
  display: none;
}

.tab-contents > li.active {
  display: block;
}

/* table */
.table thead th {
  padding: 10px 0;
  line-height: 20px;
  color: #454545;
  font-size: 13px;
  font-weight: 500;
  background-color: #f3f3f3;
  text-align: center;
  vertical-align: top;
}

.table tbody th {
  padding: 5px 0;
  line-height: 20px;
  color: #454545;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}

.table tbody td {
  position: relative;
  padding: 5px 0;
  line-height: 20px;
  color: #7d7b79;
  font-size: 13px;
  text-align: center;
  vertical-align: top;
}

.table tbody td.txt-left {
  padding-left: 10px;
  text-align: left;
}

.table tbody td.txt-right {
  padding-right: 10px;
  text-align: right;
}

.tbl-guide {
  text-align: center;
}

.tbl-guide thead th {
  padding: 10px 4px;
  line-height: 20px;
  color: #454545;
  font-size: 12px;
  font-weight: 500;
  background: #f3f3f3;
}

.tbl-guide tbody th {
  padding: 14px 4px 15px 4px;
  line-height: 20px;
  color: #767572;
  font-size: 12px;
  font-weight: 500;
  background: #f3f3f3;
  border-top: 1px solid #e7e7e7;
}

.tbl-guide tbody td {
  padding: 14px 4px 15px 4px;
  line-height: 20px;
  color: #767572;
  font-size: 12px;
  border-top: 1px solid #e7e7e7;
}

.tbl-guide tbody tr:first-child td {
  border-top: none;
}

.tbl-guide tbody td.txt-right {
  padding-right: 15px;
  text-align: right;
}

.tbl-guide tbody td.txt-left {
  text-align: left;
}

.tbl-guide tbody .nodata {
  padding: 105px 0 46px;
  color: #767572;
  font-size: 13px;
}

.tbl-guide.row {
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
}

.tbl-guide.row tbody th {
  padding: 9px 15px 10px 15px;
}

.tbl-guide.row tbody td {
  padding: 9px 15px 10px 15px;
  border-top: 1px solid #e7e7e7;
}

.tbl-guide.row tbody tr:first-child td {
  border-top: 1px solid #e7e7e7;
}

/* txt */
.infotxt strong {
  display: inline-block;
  color: #454545;
  font-size: 13px;
  font-weight: 600;
}

.infotxt ul {
  margin-top: 3px;
  margin-left: 6px;
}

.infotxt li {
  padding-top: 5px;
  line-height: 16px;
  color: #767572;
  font-size: 12px;
  text-indent: -6px;
}

.infotxt li:before {
  content: "";
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 2px;
  width: 2px;
  height: 2px;
  background-color: #aea7a2;
  vertical-align: middle;
  border-radius: 5px;
}

.infotxt li small {
  color: #aea7a2;
  font-size: 12px;
}

.infotxt .innertxt {
  display: block;
  margin-top: 3px;
  text-indent: 0;
  color: #aea7a2;
}

label + .infotxt li:before {
  opacity: 0;
}

.form-entry + .inputmsg + .infotxt li:before {
  opacity: 0;
}

.inputmsg {
  display: block;
  margin-top: 7px;
  margin-left: 5px;
  padding-bottom: 3px;
  line-height: 16px;
  color: #ff1e13;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

label.positive ~ .inputmsg {
  color: #101010;
}

label.error input {
  border: 1px solid #ff1e13;
}

.nodata {
  position: relative;
  padding: 105px 15px 49px;
  color: #767572;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.nodata:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid #aea7a2;
  border-radius: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titlearea {
  position: relative;
}

.titlearea .h2-title {
  line-height: 1.2;
  color: #fff;
  font-size: 1.692rem;
  font-weight: 600;
}

.titlearea .h3-title {
  margin-top: 9px;
  padding-left: 10px;
  line-height: 17px;
  font-size: 13px;
}

.thumb-list {
  margin-top: 3.077rem;
  padding: 0 10px;
}

.thumb-list .titlearea .h2-title {
  padding-right: 4.615rem;
}

.thumb-list .titlearea .btn.arrow {
  position: absolute;
  bottom: 3px;
  right: 0;
}

.thumb-list .swiper-container {
  margin-top: 0.846rem;
}

.thumb-list .swiper-slide {
  width: 10rem;
  height: 10rem;
  margin-left: 0.769rem;
  border-radius: 5px;
  overflow: hidden;
}

.thumb-list .swiper-slide:first-child {
  margin-left: 0;
}

.thumb-list .swiper-slide.active {
  display: block !important;
}

.thumb-list .swiper-slide a {
  display: block;
}

.thumb-list .title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.846rem;
  padding: 0.538rem 0.462rem;
  background: rgba(34, 34, 34, 0.5);
  color: #fff;
  font-size: 1rem;
}

.thumb-list .title span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.thumb-list .badge {
  position: absolute;
  top: 5px;
  right: 5px;
}

.thumb-list .badge .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: middle;
  border-radius: 5px;
}

.thumb-list .badge .icon.video {
  background-image: url("../img/main/icon_video.png");
  background-size: 11px;
}

.thumb-list .badge .icon.file {
  background-image: url("../img/main/icon_file.png");
  background-size: 11px;
}

.thumb-list .badge .icon.image {
  background-image: url("../img/main/icon_image.png");
  background-size: 17px;
}

.thumb-list .badge .icon.column {
  background-image: url("../img/main/icon_column.png");
  background-size: 13px;
}

/* thumb-list.type-multiline */
.thumb-list.type-multiline .swiper-container {
  margin-bottom: -0.769rem;
  margin-right: -0.769rem;
}

.thumb-list.type-multiline .swiper-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.769rem;
  height: 100%;
  background: #000;
  z-index: 1;
}

.thumb-list.type-multiline .swiper-slide {
  margin-left: 0;
  margin-right: 0.769rem;
  margin-bottom: 0.769rem;
}

/* thumb-list.type-one */
.thumb-list.type-one .swiper-container {
  margin-top: 1.231rem;
  margin-left: -10px;
  margin-right: -10px;
}

.thumb-list.type-one .swiper-button-prev {
  top: 1.308rem;
  left: 0;
  width: 11%;
  height: 15.385rem;
  margin-top: 0;
  background: url("../img/common/swiper_left.png") no-repeat 50% 50%/0.923rem;
}

.thumb-list.type-one .swiper-button-next {
  top: 1.308rem;
  right: 0;
  width: 11%;
  height: 15.385rem;
  margin-top: 0;
  background: url("../img/common/swiper_right.png") no-repeat 50% 50%/0.923rem;
}

.thumb-list.type-one .swiper-slide {
  width: 70%;
  height: auto;
  margin: 1.308rem 2% 0 2%;
  border-radius: 0;
}

.thumb-list.type-one .swiper-slide .imgbox {
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.thumb-list.type-one .swiper-slide .imgbox img {
  height: 15.385rem;
}

.thumb-list.type-one .swiper-slide .contentbox {
  display: none;
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}

.thumb-list.type-one .swiper-slide .contentbox .box-title {
  line-height: 2.462rem;
  font-size: 1.846rem;
}

.thumb-list.type-one .swiper-slide .contentbox .box-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.385rem;
  margin-top: 0.462rem;
  font-size: 1rem;
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
}

.thumb-list.type-one .swiper-slide.swiper-slide-active {
  margin-top: 0;
}

.thumb-list.type-one .swiper-slide.swiper-slide-active .imgbox img {
  height: 18rem;
}

.thumb-list.type-one .swiper-slide.swiper-slide-active .contentbox {
  display: block;
}

/* thumb-list.type-column */
.thumb-list.type-column .column:after {
  content: "";
  display: block;
  clear: both;
}

.thumb-list.type-column .column > li {
  float: left;
  width: calc(50% - 0.384rem);
  margin-top: 0.769rem;
  margin-right: 0.769rem;
  border-radius: 5px;
  overflow: hidden;
}

.thumb-list.type-column .column > li:nth-child(2n) {
  margin-right: 0;
}

.thumb-list.type-column .column > li > a {
  display: block;
  position: relative;
  color: #fff;
}

.thumb-list.type-column .column .title {
  height: 2.692rem;
}

.thumb-list.type-column .column .title span {
  -webkit-line-clamp: 1;
}

/* loadding */
.loadding {
  display: none;
  position: relative;
  width: 100%;
  height: 70px;
  text-align: center;
}

.loadding.active {
  display: block;
}

.loadding.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 150;
}

.loadding .loadarea {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.loadding .loadarea img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loadding.full .loadarea {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
}

body {
  position: relative;
  width: 100%;
}

#wrap {
  min-height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 3.462rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 30;
}

#header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#22222200), to(#222222)) 0% 0%;
  background: linear-gradient(0deg, #22222200 0%, #222222 100%) 0% 0%;
  opacity: 0.4;
}

#header.fixed {
  background: #222;
}

#header.fixed .logo-list li.acontent a {
  background-image: url("../img/common/logo_red.png");
}

#header.type-main ~ #contents {
  padding-top: 0;
}

#header h1 {
  position: relative;
  line-height: 59px;
  color: #101010;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 0;
}

#header button {
  position: absolute;
  height: 59px;
  text-align: left;
  text-indent: -9999px;
  z-index: 1;
}

#header button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#header button.btn-search {
  top: 0;
  right: 48px;
  width: 2.462rem;
  height: 3.462rem;
  background: url("../img/common/header_search.png") no-repeat 50% 50%/1.308rem;
}

#header button.btn-menu {
  top: 0;
  right: 13px;
  width: 2.462rem;
  height: 3.462rem;
  background: url("../img/common/header_menu.png") no-repeat 50% 50%/1.154rem;
}

#header button.btn-prev {
  top: 0;
  left: 0;
  width: 50px;
  height: 59px;
}

#header button.btn-prev:after {
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 11px;
  height: 21px;
  background: url("../img/common/header-prev.png") no-repeat -75px 0;
  background-size: 250px;
}

#header .logo-list {
  position: absolute;
  top: 16px;
  left: 20px;
  padding-right: 1.923rem;
}

#header .logo-list:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1.154rem;
  height: 1.154rem;
  background: url("../img/common/bg_logolist.png") no-repeat 100% 50%/1.154rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header .logo-list.open:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

#header .logo-list.open li {
  display: block;
}

#header .logo-list li {
  display: none;
}

#header .logo-list li:first-child {
  display: block;
}

#header .logo-list li a {
  display: block;
  width: 6rem;
  height: 1.6rem;
}

#header .logo-list li.acontent a {
  background: url("../img/common/logo_white.png") no-repeat 0 0/5.923rem;
}

#header .logo-list li.amway a {
  height: 3rem;
  background: url("../img/common/logo_amway.png") no-repeat 0 0/5.923rem;
}

#contents {
  position: relative;
  padding-top: 60px;
  background: #000;
}

#footer {
  position: relative;
  margin-top: 3.077rem;
  background: #1D1D1D;
}

#footer .inner {
  padding: 2rem 20px 3.615rem;
}

#footer .inner .info a {
  display: inline-block;
  padding: 0 1rem;
  color: #fff;
  font-size: 1rem;
  border-left: 1px solid #727272;
}

#footer .inner .info a:first-child {
  padding-left: 0;
  border-left: none;
}

#footer .inner .copyright {
  margin-top: 2rem;
  color: #727272;
  font-size: 0.923rem;
}
/*# sourceMappingURL=common.css.map */