@charset "utf-8";

@import "../common/variables";
@import "../common/mixins";

/**
 * --------------------------------
 * sub CSS
 * creator : chowoobin
 * --------------------------------
*/

.gnb {position: sticky;position: -webkit-sticky;top: 60px;left: 0;width: 100%;background-color: #fff;z-index: 2;}
.gnb:before {content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 1px;background-color: #dbd9d6;}
.gnb .gnbswiper {padding: 0;height: 50px;}
.gnb .gnbswiper .swiper-slide {width:auto;height: 50px;padding:0 20px;line-height: 48px;color: #aea7a2;font-size: 14px;font-weight: 600;text-align: center;}
.gnb .gnbswiper .swiper-slide span {border-bottom: 2px solid transparent;}
.gnb .gnbswiper .swiper-slide.active {color: #ff6913;}
.gnb .gnbswiper .swiper-slide span {display: inline-block;border-bottom: 2px solid transparent;}
.gnb .gnbswiper .swiper-slide.active span {border-bottom: 2px solid #ff6913;}
