@charset "utf-8";

/**
 * --------------------------------
 * mixins CSS
 * creator : chowoobin
 * --------------------------------
*/

//radius
@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//ellipsis
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}