//== modal
.modal {}
.modal__mask {}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 3;

  .modal__mask {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.4);
  }

  //This is modal layer
  &__dialog{
    position: relative;
    width: 620px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 30px;
    color: #fff;
    background-color: #333;

    h1 {
      font-size: 18px;
      color: #fff;
    }

    .js-modal-close {
      font-size: 24px;
      color: #fff;
    }
  }
  &__body {
    padding: 30px;
    max-height: 70vh;
    overflow: auto;

    @include scrollbars(5px, #999, #eee);
  }

  .basic-btn02 {
    padding: 0 1rem;
    width: auto;
  }

  .btn_area {
    padding-top: 40px;
    text-align: center;

    .basic-btn02 {
      min-width: 84px;
    }
  }

  .list_style_1 {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .member_search_popup {
    .list_style_1 {
      margin-bottom:20px;

      li {
        position: relative;
        padding-left: 10px;

        &:before {
          position: absolute;
          left: 0;
          top: 10px;
          width: 3px;
          height: 3px;
          background-color: #000;
          display: block;
          content: "";
        }
      }
    }

    .searchArea {
      position: relative;
      margin-bottom: 20px;
      padding-right: 80px;

      input[type=text] {
        width: 100%;
      }

      .btn-search {
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        line-height: 40px;
        height: 40px;
      }
    }

    .tb_style_1 {
      height: 300px;
      border: 1px solid #ddd;
      overflow: auto;

      th,td {
        border-top-width: 0; border-right-width: 0;

        &:first-child {
          border-left-width: 0;
        }
      }

      tr:last-child td {
        border-bottom-width: 0;
      }

      td {
        position: relative;

        .basic-btn02 {
          float: right;
          min-width: 70px;
          height: 26px;
          line-height: 24px;
          margin-right: 10px;
          font-size: 14px;
          vertical-align: middle;
        }

        &:before {
          display: block;
          content: '';
          clear: both;
        }
      }

      @include scrollbars(5px, #999, #eee);
    }
  }
}

@include mq('md', 'max') {
  .modal {
    &__dialog {
      min-width: 320px;
      width: auto;
    }
  }
}

