//titlearea
.titlearea {
    position: relative;

    &:after {
        @include floatclear();
    }
    .h2-title {
        color: $white-color;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;
    }
    .h3-title {
        color: $white-color;
        font-size: 1.5rem;
    }
}